{% extends 'main/base.html.twig' %}

{% block title %}{{ 'reset.title'|trans }}{% endblock %}

{% block body %}
    <div class="page-content pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-details page-login mt-4">
                        <h1 class="h3 mb-3 font-weight-normal title-gradient-1">
                            {{ 'reset.heading'|trans }}
                        </h1>
                        {{ form_start(resetForm) }}
                        <div class="form-group">
                            {{ form_label(resetForm.plainPassword) }}
                            {{ form_widget(resetForm.plainPassword) }}
                            {{ form_errors(resetForm.plainPassword) }}
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" id="resetPassword" class="btn btn-success">
                                {{ 'reset.button'|trans }}
                            </button>
                        </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
