{% extends 'main/base.html.twig' %}

{% block title %}{{ 'main.homepage'|trans }}{% endblock %}
{% block page_keywords %}{{ 'main_keywords.jeans_jackets'|trans }}{% endblock %}
{% block page_description %}{{ 'main_page.desc'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner banner-big">
                    <a href="#">
                        <img src="{{ asset('assets/images/banner/collection/banner_1.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main.new_collection'|trans }}
                        </h3>
                        <h2 class="banner-title">
                            {{ 'jeans'|trans }}
                        </h2>
                        <a href="#" class="btn btn-link">
                            {{ 'main.show_me'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner banner-big">
                    <a href="#">
                        <img src="{{ asset('assets/images/banner/collection/banner_2.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main.discounts_over'|trans }} 55%
                        </h3>
                        <h2 class="banner-title">
                            {{ 'jackets'|trans }}
                        </h2>
                        <a href="#" class="btn btn-link">
                            {{ 'main.show_me'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="#">
                        <img src="{{ asset('assets/images/banner/collection/banner_3.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main.unique'|trans }}
                        </h3>
                        <a href="#" class="btn btn-link">
                            {{ 'hats'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="#">
                        <img src="{{ asset('assets/images/banner/collection/banner_4.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main_fashionable'|trans }}
                        </h3>
                        <a href="#" class="btn btn-link">
                            {{ 'dresses'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="#">
                        <img src="{{ asset('assets/images/banner/collection/banner_5.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle text-white">
                            {{ 'main_branded'|trans }}
                        </h3>
                        <a href="#" class="btn btn-link">
                            {{ 'sneakers'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('App\\Controller\\Main\\EmbedController::showSimilarProducts', {
        'productCount': 4,
    })) }}
{% endblock %}
