<footer class="footer">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">{{ 'footer.useful_links'|trans }}</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('main_homepage') }}">{{ 'footer.homepage'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('main_registration') }}">{{ 'footer.sign_up'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">{{ 'footer.my_account'|trans }}</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('main_login') }}">{{ 'footer.sign_in'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('main_cart_show') }}">{{ 'footer.view_cart'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('main_profile_index') }}">{{ 'footer.my_profile'|trans }}</a>
                        </li>
                    </ul>
                </div>
{#                <div class="col-sm-12 mt-3">#}
{#                    <h4 class="widget-title">{{ 'footer.change_language'|trans }}</h4>#}
{#                    <ul class="widget-list">#}
{#                        <li>#}
{#                            <a href="{{ path('main_homepage', {_locale: 'en'}) }}">{{ 'en'|locale_name('en')|capitalize }}</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ path('main_homepage', {_locale: 'ru'}) }}">{{ 'ru'|locale_name('ru')|capitalize }}</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ path('main_homepage', {_locale: 'fr'}) }}">{{ 'fr'|locale_name('fr')|capitalize }}</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">{{ 'footer.copyright'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
